<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/styles")

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="https://github.com/nikspatel007/ChartJS.NET" target="_blank">
                    ChartJS.NET
                </a>
            </li>
            <li>
                @Html.ActionLink("Examples Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Bar Chart", "Index", "BarChart")
            </li>
            <li>
                @Html.ActionLink("Line Chart", "Index", "LineChart")
            </li>
            <li>
                @Html.ActionLink("Doughnut Chart", "Index", "DoughnutChart")
            </li>
            <li>
                @Html.ActionLink("Pie Chart", "Index", "PieChart")
            </li>
            <li>
                @Html.ActionLink("Polar Area Chart", "Index", "PolarAreaChart")
            </li>
            <li>
                @Html.ActionLink("Radar Chart", "Index", "RadarChart")
            </li>
        </ul>
    </div>
    @RenderBody()
</div>


</body>
</html>