@{
    ViewBag.Title = "ChartJS.NET Wrapper Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-md-10 p{
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>

<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            What is ChartJS.NET?
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <p>
                        This is an open source project wrapper for the Chart.js javascript charting library.
                        We created this wrapper so that .NET developers would have an easy-to-use and flexible
                        charting option that can be built in MVC or Web Forms projects.  Below are links to examples
                        of each kind of chart that are currently available.
                    </p>
                    <p>
                        Keep checking back as we will be adding new chart types from forks on GitHub.  In the meantime
                        you can download the code from the
                        <a href="https://github.com/nikspatel007/ChartJS.NET" target="_blank">ChartJS.NET project on github</a>.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            ChartJS.Net Examples
        </div>
        <div class="panel-body">
            <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="col-md-6">
                    <span style="display: block;"><i class="fa fa-bar-chart fa-5x"></i></span>
                    @Html.ActionLink("View Bar Chart Example", "Index", "BarChart")
                </div>
                <div class="col-md-6">
                    <span style="display: block;"><i class="fa fa-line-chart fa-5x"></i></span>
                    @Html.ActionLink("View Line Chart Example", "Index", "LineChart")
                </div>
            </div>
            <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="col-md-6">
                    <span style="display: block;"><i class="fa fa-dot-circle-o fa-5x"></i></span>
                    @Html.ActionLink("View Doughnut Chart Example", "Index", "DoughnutChart")
                </div>
                <div class="col-md-6">
                    <span style="display: block;"><i class="fa fa-pie-chart fa-5x"></i></span>
                    @Html.ActionLink("View Pie Chart Example", "Index", "PieChart")
                </div>
            </div>

            <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="col-md-6">
                    <span style="display: block;"><i class="fa fa-area-chart fa-5x"></i></span>
                    @Html.ActionLink("View Polar Area Chart Example", "Index", "PolarAreaChart")
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("View Radar Chart Example", "Index", "RadarChart")
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />